.single-album {
  display: flex;
  flex-direction: row;
  width: 340px;
  height: 170px;
  margin: 15px;
  font-size: 14px;
  overflow: hidden;
  background: #fff;
  opacity: .95;
  box-shadow: 0 0 10px -3px $shadow;
  border-radius: 7px;

  .wrapper {
    width: 100%;
    display: flex;
  }

  &__cover {
    width: 50%;
  }
  &__desc {
    width: 157px;
    padding: 5px 0 5px 10px;
    letter-spacing: .75px;
    display: flex;
    flex-direction: column;
  }
  &__category {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: $text-muted;


    p {
      width: 25px;
      border-top: 1px solid $text-muted;
    }
  }
  &__title {
    font-size: 1rem;
  }
  &__artist {
    font-size: 0.9rem;
    font-weight: 700;
  }

  .arrow-left {
    width: 13px;
    display: flex;
    align-items: center;
    position: sticky;
    right: 6px;
    z-index: 2;

    .material-icons {
      cursor: pointer;
    }
  }

  .more-info {
    min-width: 170px;
    position: relative;
    right: -1px;
    height: 170px;
    padding: 5px 10px;
    z-index: 1;
    background: $main-color;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    transition: right 1.1s;

    h5 {
      font-size: 0.8rem;

    }
    &__release{

    }

    &__rights {

    }
    &__price {

    }
  }

&--hide {
    display: none;
  }
}

